.changedata {
	z-index: 999;
	height: 40px;
	width: 100px;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	background-color: black;
	color: whitesmoke;
	cursor: pointer;
	font-size: 10px;
}

.change_1 {
	left: 20px;
	top: 40px;
}

.change_2 {
	left: 20px;
	top: 100px;
}

.change_3 {
	left: 20px;
	top: 160px;
}

.change_4 {
	left: 20px;
	top: 220px;
}

.change_5 {
	left: 20px;
	top: 280px;
}

.change_6 {
    left: 20px;
    top: 340px;
}

.change_7 {
    left: 20px;
    top: 400px;
}

.change_8 {
    left: 20px;
    top: 460px;
}

.git_link {
	bottom: 40px;
	display: flex;
	background-color: dimgray;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 90px;
	height: 30px;
	left: 35px;
}

.git_link img {
	align-items: center;
}

.live {
	top: 60px;
	right: 20px;
	display: flex;
	background-color: rgba(0, 0, 0, 0);
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 120px;
	height: 30px;
}

.live img {
	align-items: center;
}
