.changedata {
	z-index: 999;
	height: 40px;
	width: 90px;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	background-color: black;
	color: whitesmoke;
	cursor: pointer;
	font-size: 10px;
}

.change_1 {
	left: 20px;
	top: 80px;
}

.change_2 {
	left: 20px;
	top: 140px;
}

.change_3 {
	left: 20px;
	top: 200px;
}

.change_4 {
	left: 20px;
	top: 260px;
}

.change_5 {
	left: 20px;
	top: 320px;
}

.change_6 {
    left: 20px;
    top: 380px;
}

.change_7 {
    left: 20px;
    top: 440px;
}

.change_8 {
    left: 20px;
    top: 500px;
}

.git_link {
	bottom: 30px;
	display: flex;
	background-color: dimgray;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 60px;
	height: 30px;
	left: 35px;
}

.git_link img {
	align-items: center;
}

.live {
	top: 70px;
	right: 10px;
	display: flex;
	background-color: rgba(0, 0, 0, 0);
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 80px;
	height: 30px;
}

.live img {
	align-items: center;
}
